---
layout: page
title: Biopolish Leather Polish and Care
subtitle: Semir serbaguna 100% natural untuk perawatan produk kulit seperti tas, sepatu, jaket, sofa dan bahan vinyl.
use-site-title: true
bigimg: /img/biopolish-splash-prod.jpg
---

<section class="m-b-xl">
  <p class="text-justify"><strong>Biopolish® Leather Care</strong> merupakan poles untuk perawatan produk-produk berbahan kulit. Produk ini juga bisa diaplikasikan untuk perawatan material berbahan sintetis seperti vinyl dan karet. Biopolish® Leather Care dapat <strong>mempertahankan</strong> dan <strong>meningkatkan</strong> tampilan produk serta <strong>melindunginya</strong> dari berbagai paparan yang merusak. Biopolish® Leather Care <strong>terbuat dari bahan alami</strong>, sehingga aman digunakan serta tidak menyebabkan kerusakan setelah pemakaian jangka panjang sebagaimana semir kimia. </p>
</section>

<hr class="m-b-xl">

<section class="m-b-xl">
  <h2 class="text-center m-b-xl">10 Keunggulan Biopolish Leather care</h2>
  <ul class="list-group">
    <li class="list-group-item">Alami</li>
    <li class="list-group-item">Tidak Berbau (Odorless)</li>
    <li class="list-group-item">Warna Netral (Colorless)</li>
    <li class="list-group-item">Tidak Mengubah Tampilan Glass / Doff</li>
    <li class="list-group-item">Tidak Membuat Licin</li>
    <li class="list-group-item">Membuat Warna Asli Lebih Cerah</li>
    <li class="list-group-item">Melindungi Warna Dari Sinar Matahari Dan Cuaca</li>
    <li class="list-group-item">Menjaga Kelenturan Dan Kelembutan Kulit</li>
    <li class="list-group-item">Mencegah Permukaan Pecah Dan Mengelupas</li>
    <li class="list-group-item">Anti Air (Water Repellant)</li>
  </ul>
  <div class="belisekarang m-t-md text-center">
    <a href="https://tokopedia.link/NlHzA0SsRR" type="button" class="btn btn-primary btn-lg" target="_blank">Beli Sekarang</a>
  </div>
</section>

<hr class="m-b-xl">

<section class="m-b-xl">
  <h2 class="text-center m-b-xl">Kegunaan Biopolish Leather care</h2>
  <!-- Jaket Kulit -->
  <div class="row m-b-xl">
    <div class="col-xs-12 col-md-4 m-b">
      <h3 class="text-muted">1. Perawatan Jaket Kulit</h3>
      <p>Berbagai jenis kerusakan biasa ditemukan pada jaket kulit, mulai dari pudarnya warna hingga goresan-goresan. Biopolish® Leather Care  dapat dimanfaatkan untuk merawat jaket kulit agar terhindar dari berbagai kerusakan tersebut. </p>
    </div>
    <div class="col-xs-12 col-md-8">
      <img class="img-thumbnail" src="/img/perawatan-jaket-kulit.jpg">
    </div>
  </div>
  <!-- Sepatu Kulit -->
  <div class="row m-b-xl">
    <div class="col-xs-12 col-md-4 m-b">
      <h3 class="text-muted">2. Perawatan Sepatu Kulit</h3>
      <p>Sepatu kulit memiliki resiko kerusakan yang hampir sama dengan jaket kulit tetapi sepatu kulit lebih rentan rusak akibat siraman air. Biopolish® Leather Care memiliki kandungan yang bersifat antioksidan, color enhanchment, dan juga mengandung beeswax yang bersifat water resistance.</p>
    </div>
    <div class="col-xs-12 col-md-8">
      <img class="img-thumbnail" src="/img/perawatan-sepatu-kulit.jpg">
    </div>
  </div>
  <!-- Tas Kulit -->
  <div class="row m-b-xl">
    <div class="col-xs-12 col-md-4 m-b">
      <h3 class="text-muted">3. Perawatan Tas Kulit</h3>
      <p>Tas kulit merupakan produk fashion yang wajib dirawat untuk membuat penampilan semakin sempurna. Biopolish® Leather Care mampu menjaga kelenturan, ketajaman warna dan membuat tas kulit menjadi anti gores.</p>
    </div>
    <div class="col-xs-12 col-md-8">
      <img class="img-thumbnail" src="/img/perawatan-tas-kulit.jpg">
    </div>
  </div>
  <!-- Dompet Kulit -->
  <div class="row m-b-xl">
    <div class="col-xs-12 col-md-4 m-b">
      <h3 class="text-muted">4. Perawatan Dompet Kulit</h3>
      <p>Jamur, pudarnya warna, dan kerutan pun jadi masalah utama yang sering terlihat pada dompet kulit. Biopolish® Leather Care mengandung antiseptik alami sehingga jamur dan organisme pembusuk tak akan tumbuh. </p>
    </div>
    <div class="col-xs-12 col-md-8">
      <img class="img-thumbnail" src="/img/perawatan-dompet-kulit.jpg">
    </div>
  </div>
  <!-- Interior Mobil -->
  <div class="row m-b-xl">
    <div class="col-xs-12 col-md-4 m-b">
      <h3 class="text-muted">5. Perawatan Interior Mobil</h3>
      <p>Biopolish® Leather Care cocok untuk merawat jok, karpet, hingga dashboard mobil yang terbuat dari kulit, vynil, atau karet.</p>
    </div>
    <div class="col-xs-12 col-md-8">
      <img class="img-thumbnail" src="/img/perawatan-interior-mobil.jpg">
    </div>
  </div>
  <!-- Kulit Sinteis -->
  <div class="row m-b-xl">
    <div class="col-xs-12 col-md-4 m-b">
      <h3 class="text-muted">6. Perawatan Produk Berbahan Kulit Sintetis</h3>
      <p>Biopolish® Leather Care cocok untuk merawat jok, karpet, hingga dashboard mobil yang terbuat dari kulit, vynil, atau karet.</p>
    </div>
    <div class="col-xs-12 col-md-8">
      <img class="img-thumbnail" src="/img/perawatan-produk-sintetis.jpg">
    </div>
  </div>
  <!-- Body Kulit Jeruk Sepeda Motor -->
  <div class="row m-b-xl">
    <div class="col-xs-12 col-md-4 m-b">
      <h3 class="text-muted">7. Perawatan Body Kulit Jeruk Motor</h3>
      <p>Body kulit jeruk motor biasanya merupakan jenis bahan plastik yang tidak di cat sehingga hanya berwarna hitam saja. Namun lama kelamaan plastik seperti ini juga akan memudar warnanya. Untuk menghitamkan kembali body kulit jeruk motor yang sudah kusam bisa menggunakan Biopolish® Leather Care.</p>
    </div>
    <div class="col-xs-12 col-md-8">
      <img class="img-thumbnail" src="/img/perawatan-body-motor.jpg">
    </div>
  </div>
  <hr class="m-b-xl">
  <div class="belisekarang m-t-md text-center">
    <a href="https://tokopedia.link/NlHzA0SsRR" type="button" class="btn btn-primary btn-lg" target="_blank">Beli Sekarang</a>
  </div>
</section>

<hr class="m-b-xl">

<section class="m-b-xl">
  <h2 class="text-center m-b-xl">Cara Aplikasi Biopolish Leather Care</h2>
  <ol>
    <li>Bersihkan dan keringkan produk yang akan dipoles.</li>
    <li>Gunakan kain bersih dan lembut untuk mengusapkan Biopolish® Leather Care secara merata.</li>
    <li>Diamkan beberapa saat.</li>
    <li>Gosok hingga permukaan tampak  halus, lentur dan warnanya lebih tajam.</li>
    <li>Ulangi lagi untuk mendapatkan tampilan yang diinginkan.</li>
  </ol>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item"src="https://www.youtube.com/embed/G8yNEsRkZfw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</section>

<hr class="m-b-xl">

<section class="m-b-xl">
  <h2 class="text-center m-b-md">Testimoni Pengguna</h2>
  <p class="text-center m-b-xl">Ribuan Orang Telah Menggunakan Biopolish® Leather Care</p>
  <img class="img-thumbnail" src="/img/testimoni-2.jpg">
</section>

<hr class="m-b-xl">

<section id="belisekarang" class="m-b-xl">
  <h2 class="text-center m-b-xl">Harga Biopolish Leather Care</h2>
  <div class="jumbotron text-center">
    <img class="img-thumbnail" src="/img/biopolish-flatlay.jpg">
    <h3 class="h1">Rp. 60.000,-</h3>
    <p>Biopolish® Leather Care dalam kemasan 50gr.</p>
    <div class="small">Proses pemesanan & pembayaran aman melalui <span class="label label-success">Tokopedia</span><br>Dikirim dari Yogyakarta. Bila barang tidak sampai, garansi 100% uang kembali. </div>
    <p><a href="https://tokopedia.link/NlHzA0SsRR" type="button" class="btn btn-primary btn-lg" target="_blank">Beli Sekarang</a></p>
  </div>
  <div class="center-block text-center"><img src="/img/logo-jasa-kirim.png"></div>
</section>

<hr class="m-b-xl">

<section class="m-b-xl">
  <h2 class="text-center m-b-xl">Pertanyaan Umum (FAQ)</h2>
  <div class="row m-b-xl">
    <div class="col-xs-12 col-md-6 m-b">
      <div class="panel panel-default">
        <div class="panel-heading">Apakah Biopolish® Leather Care akan mengubah warna produk?</div>
        <div class="panel-body">Tidak. Biopolish® hanya akan memperjelas warna asli produk.</div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">Bagaimana tampilan produk setelah dipoles?</div>
        <div class="panel-body">Warna produk lebih tajam dan menampakkan kilau alami. Poles ini juga akan mencegah permukaan produk pecah-pecah serta mengelupas.</div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">Apakah Biopolish® Leather Care ini aman?</div>
        <div class="panel-body">Iya, poles ini aman karena terbuat dari 100 % bahan alami. Biopolish tidak menggunakan bahan kimia berbahaya. Produk ini telah lulus sertifikat food grade.</div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 m-b">
      <div class="panel panel-default">
        <div class="panel-heading">Bagaimana cara menggunakan Biopolish® Leather Care?</div>
        <div class="panel-body"
          <ol>
            <li>Bersihkan dan keringkan media terlebih dahulu.</li>
            <li>Usapkan merata Biopolish® dengan kain bersih dan lembut.</li>
            <li>Tunggu hingga kering. Gosok lagi dengan kain bersih dan lembut untuk warna dan kilau lebih menawan.</li>
          </ol>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">Berapa kali sebaiknya menggunakan Biopolish® Leather Care?</div>
        <div class="panel-body">Disarankan tiga hari sekali. Penggunaan boleh lebih atau kurang menyesuaikan kebutuhan.</div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">Berapa banyak Biopolish® Leather Care harus saya gunakan?</div>
        <div class="panel-body">Tergantung hasil poles yang diinginkan. Namun secara umum, 10 gram produk ini bisa digunakan untuk luas permukaan  1 meter persegi.</div>
      </div>
    </div>
  </div>
</section>

<hr class="m-b-xl">

<section id="kontak" class="m-b-xl">
  <h2 class="text-center m-b-xl">Kontak</h2>
  <p>
    <strong>Biopolish® Yogyakarta</strong><br>
    Jl. Sidikan No 94 Sorosutan, Yogyakarta, Indonesia 55162<br><br>
    Phone/Fax : +62274388301<br>
    SMS/Whatsapp: +6282138046818<br>
    Email: biopolish.leathercare@gmail.com<br>
  </p>
</section>

{% comment %}
<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
	  <h2 class="post-title">{{ post.title }}</h2>

	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: "%B %-d, %Y" }}
    </p>

    <div class="post-entry-container">
      {% if post.image %}
      <div class="post-image">
        <a href="{{ post.url | prepend: site.baseurl }}">
          <img src="{{ post.image }}">
        </a>
      </div>
      {% endif %}
      <div class="post-entry">
        {{ post.excerpt | strip_html | xml_escape | truncatewords: site.excerpt_length }}
        {% assign excerpt_word_count = post.excerpt | number_of_words %}
        {% if post.content != post.excerpt or excerpt_word_count > site.excerpt_length %}
          <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Read&nbsp;More]</a>
        {% endif %}
      </div>
    </div>

    {% if post.tags.size > 0 %}
    <div class="blog-tags">
      Tags:
      {% if site.link-tags %}
      {% for tag in post.tags %}
      <a href="{{ site.baseurl }}/artikel#{{- tag -}}">{{- tag -}}</a>
      {% endfor %}
      {% else %}
        {{ post.tags | join: ", " }}
      {% endif %}
    </div>
    {% endif %}

   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}

{% endcomment %}
